@import "../../assets/styles/variables.scss";

.select-filter { 
    margin: 0px 0 0 60px !important;
    padding-left: 20px;
    cursor: pointer;
    text-decoration: underline;

    width: 180px;
    height: 60px;
    color: #fff;

    font-size: 21px;
    line-height: 24px;
    display: flex;
    align-items: center;
}





