.date-filter{
    display: flex;
    align-items: center;
}

.from,
.to{
    display: flex;
    align-items: center;

    height: 60px;
    color: #fff;

    span{
        padding: 0 10px;
        font-size: 21px;
    }
}


