@import "core/assets/styles/variables.scss";

.button-default{
    width: 320px;
    height: 60px;

    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    text-transform: uppercase;

    background-color: $button-color;
    border: 2px solid #AD9C84;
    box-sizing: border-box;
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.15);
    border-radius: 15px;

    transition: 0.3s;

    &:hover{
        background-color: #FFF;
        border: 3px solid $button-color;
    }
}