.general-filter-types{
    padding-right: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 60px;
    margin-top: 30px;
}

.checkbox-input-filter{
    display: flex;
    align-items: center;
    height: 60px;
    color: #000;
    padding-right: 15px;
}

.table-general-filter{

    th:nth-child(1){
        width: 50px;
    }
}

.buttons-general-filter{
    display: flex;
    justify-content: center;

    padding-top: 50px;

    button:nth-child(1){
        margin-right: 100px;
    }
}



