.general-filter-types{
    padding-right: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 60px;
    margin-top: 30px;
}

.checkbox-input-filter{
    display: flex;
    align-items: center;
    height: 60px;
    color: #000;
    padding-right: 15px;
}