ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.posting-nav-container {
    padding: 10px;
}

.posting-nav-item {
    width: 370px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFBF5;
    border: 1px solid #7297AD;
    border-radius: 5px;
}

.posting-nav-item.active {
    background: #F9EAD5;
}

.posting-nav-item h1 {
    font-weight: 700;
    font-size: 25px;
}