.page-container-especific {
    margin-top: 34px;
    padding: 0;
}

.container-filter-crud-postings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-buttons-crud {
    display: flex;
}

.button-new {
    width: 170px;
    height: 100px;
    margin-bottom: 12px;
    background: #f9ead5;
    border: 2px solid #ad9c84;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    font-style: normal;
    font-weight: 700;
    font-size: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1150px) {
    .container-filter-crud-postings {
        justify-content: center;
    }

    .button-new {
        width: 170px;
        height: 40px;
    }
}

@media (max-width: 400px) {
  
    .container-buttons-crud {
        width: 300px;
        justify-content: space-around;
        margin-bottom: 10px;
    }
    
    .button {
        width: 130px;
        height: 50px;
        font-size: 20px;
        margin: 0;
    }
}