.main-nav {
    min-height: 120px;
}

.nav-log-text, .nav-log-text:hover {
    color: #FFF;
}

.main-menu {
    display: flex;
    font-size: 30px;
    width: 600px;
    justify-content: space-around;
}

.main-menu a {
    color: rgba(255, 255, 255, 0.5);
}

.main-menu a:hover {
    color: #FFF;
}

.main-menu a.active {
    color: #FFF;
    font-weight: bold;
}

.nav-container {
    max-width: 1140px;
}

.nav-hello-user-logout {
    display: flex;
    width: 40%;
    justify-content: flex-end;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #F9EAD5;
}

.nav-hello-user {
    margin-right: 15px;
}



@media (max-width: 1000px) {
    .nav-hello-user-logout {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 850px) {
    .main-menu {
        font-size: 25px;
        width: 450px;
    }
    .nav-hello-user-logout {
        font-size: 25px;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .nav-hello-user-logout {
        font-size: 20px;
        justify-content: flex-start;
        flex-wrap: nowrap;
    }
}

@media (max-width: 582px) {
    .nav-hello-user-logout {
        font-size: 20px;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}