@import '../../assets/styles/variables.scss';

*{
    margin: 0
}

.main-nav{
    height: 120px;
    padding-left: 40px;
    padding-right: 40px;

    font-size: 30px;
    color: $link-color;
    background-color: $header-color;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-menu{
    display: flex;
    width: 800px;
    justify-content: space-between;

    .nav-link{
        text-transform: uppercase;
        color: $link-color;
        font-style: normal;
        text-decoration: none;
    
        &.active{
            font-weight: bold;
            color: #FFF;
        }
    
        &:hover{
            font-weight: bold;
            cursor: pointer;
            color: #FFF;
        }
    }
}


