@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
@import "core/assets/styles/variables.scss";

* {
    font-family: "Ubuntu", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
    font-weight: 700;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}

.table-click{
    tbody tr {
        &:hover{
            cursor: pointer;
            background-color: #FFF;
        }
    }
}

.input-filter{
    background-color: $filter-color;
    border-radius: 10px;
}

.date-filter{
    display: flex;
    align-items: center;
}

.from,
.to{
    display: flex;
    align-items: center;

    height: 60px;
    color: #fff;

    span{
        padding: 0 10px;
        font-size: 21px;
    }
}



    

    

