@import '../../assets/styles/variables.scss';

.table-default {
    table-layout:fixed;
    white-space: nowrap;

    margin: 40px 0 0 60px;
    width: calc(100vw - 120px);
    height: 35px;
    text-align: center;

    th {
        font-weight: bold;
        font-size: 21px;
        line-height: 24px;
        
        background-color: $header-color;
    }

    tr {
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;

        background-color: $table-line-color;
    }

    .table-line{
        margin-right: 20px;
        margin-left: 20px;
        overflow-x: hidden;
    }
}

