.posting-filter-container {
    display: flex;
    width: 942px;  
    height: 100px;
    border-radius: 10px;
    margin-bottom: 12px;
    padding: 8px;

    background: #7297AD;
    border-radius: 10px;
}

.posting-filter-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.posting-filter-container-first-line {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.posting-filter-container-second-line {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.posting-filter-select__control {
    width: 178px;
    min-width: 178px;
    height: 30px;
    background: #7297AD !important;
    border: none !important;
    border-bottom: 1px solid #FFF !important;
    box-sizing: border-box;
    box-shadow: none;
    border-radius: 0 !important;
    display: flex;
    align-items: flex-end !important;
    margin: 0px;
    opacity: 1;

    font-family: 'Ubuntu' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 21px !important;
}

.posting-filter-select__menu {
    opacity: 1 !important;
    background-color: #7297AD !important;
}

.posting-filter-select__indicator-separator {
    display: none;
}

.posting-filter-select__placeholder {
    color: #FFFBF5 !important;
    opacity: 0.75;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
}

.posting-filter-input-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #FFF;
}

.small-input {
    width: 170px;
}

.large-input {
    width: 540px;
}

.posting-filter-input-container input {
    border: none;
    background: #7297AD;
}

.posting-filter-input-container input:focus {
    box-shadow: none;
    background: #7297AD;
}

.posting-filter-input-container input::placeholder {
    color: #FFFBF5;
    opacity: 0.75;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
}

.clean-button {
    width: 167px;
    height: 29px;

    box-sizing: border-box;
    background: #D7ECFA;
    border: 2px solid rgb(26, 56, 90);
    border-radius: 15px;

    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

.product-filter-search-icon {
    border: none;
    background-color: unset;
}