.posting-filter-container {
    display: flex;
    width: 942px;  
    height: 100px;
    border-radius: 10px;
    margin-bottom: 12px;
    padding: 18px 0px;
    justify-content: space-around;
    flex-wrap: wrap;

    background: #7297AD;
    opacity: 0.5;
    border-radius: 10px;
}

.posting-filter-employee-container-first-line {
    display: flex;
}